 <div class="banner" style="background-image: url(https://st3.depositphotos.com/14051716/18156/v/600/depositphotos_181568132-stock-video-circles-soft-pastel-colors-shape.jpg); height: 100px;">
        <h1>Create a new cocktail</h1>
</div>

<div class="form">
  <div class="row justify-content-center">
    <div class="col-4">

      <%= simple_form_for @cocktail do |f| %>
        <%= f.input :name %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
  <%= link_to "Back to all cocktails", root_path %>
</div>


