<p>
  <strong>Name:</strong>
  <%= @cocktail.name %>
</p>


  <ul class="list-group">
  <% @cocktail.doses.each do |dose| %>
    <li class="list-group-item"><%= dose.description %></li>
  <% end %>

</ul>

<%= link_to 'Back', cocktails_path %>
<%= link_to 'Leave a dose', new_cocktail_dose_path(@cocktail) %>
