// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  text-align: center;
  background-color: #f6f6f6;
}

.btn {
  background-color: #6930c3;
  border-color: #6930c3;
  margin-bottom: 10px;
  border-radius: 10px;
}

.btn:hover {
  background-color: #a685e2;
  cursor: pointer;
  border-color: #a685e2;
}

.recipe img {
  width: 100px;
}
